<!DOCTYPE html>
<html>

<%- include('partials/head.ejs', { title }); %>

<body>
	<main>
		<div class="container">
			<img src="/images/crous-big.png">
			<a class="login-button" href="/find">Continue as student</a>
			<a class="login-button" href="/login">Login</a>
		</div>
	</main>
</body>

</html>