<!DOCTYPE html>
<html>

<%- include('partials/head.ejs', { title }); %>

	<body>
		<main>
			<h2>
			<%= locals.user != undefined ?
				`Vous êtes connecté en tant que ${JSON.stringify(locals.user)}` :
				`Vous n'êtes pas connecté.`
			%>
			</h2>
		</main>
	</body>

</html>