<!DOCTYPE html>
<html>

<%- include('partials/head.ejs', { title }); %>

<body>
	<main>
		<div class="container">
			<img src="/images/crous-big.png">
			<form id="login-form" method="post" action="/signup">
				<input type="text" class="login-entry" name="username" placeholder="username" required>
				<input type="text" class="login-entry" name="password" placeholder="password" required>
				<input type="submit" value="Sign up">
			</form>
			<a class="signup" href="/signup">log in</a>
		</div>
	</main>
</body>

</html>