* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	--main-color: #f42323;
	--text-color: white;
}

main {
	display: flex;
	justify-content: center;
}

.container {
	margin-top: 5rem;
	max-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 2rem;
}

.container img {
	max-width: 100%;
}

a.login-button {
	display: block;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	padding: 1rem;
	color: var(--text-color);
	background-color: var(--main-color);
	border-radius: 0.5rem;
}

#login-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#login-form input {
	width: 100%;
	display: block;
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 0.8rem;
	font-size: 1.2rem;
}

a.signup {
	text-align: right;
	color: var(--main-color);
}